@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 100%) skew(-12deg) rotate(2deg);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loopText {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes loading {
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 700px 0;
  }
}
