// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

:root {
  --font-family-default: 'Inter', sans-serif;
  --font-family-secondary: 'Roxie Rossa', serif;
  // --font-family-special: 'Open Sans', sans-serif;
  --secondary-color: #fff;
  --primary-color: #000;
  --default-space: 45px;
}

*::selection {
  color: #000;
  background-color: #fff;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 100%) skew(-12deg) rotate(2deg);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
