// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

:root {
  --font-family-default: 'Inter', sans-serif;
  --font-family-secondary: 'Roxie Rossa', serif;
  // --font-family-special: 'Open Sans', sans-serif;
  --secondary-color: #fff;
  --primary-color: #000;
  --default-space: 45px;
}

*::selection {
  color: #000;
  background-color: #fff;
}
