---
import Link from '@/components/Link.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import { useTranslations } from '@/i18n'
import RootLayout from '@/layouts/RootLayout.astro'
import { Icon } from 'astro-icon/components'

const t = useTranslations()
---

<RootLayout title="Not Found" description="Page not found">
  <SectionContainer>
    <div class="page-404">
      <h1 class="title">404</h1>
      <p class="text">{t('pages.404.title')}<br />{t('pages.404.description')}</p>
      <Link href="/" class="link">
        <Icon name="arrow-top-right" width={12} height={12} />
        {t('pages.404.backToHome')}
      </Link>
    </div>
  </SectionContainer>
</RootLayout>

<style lang="scss">
  .page-404 {
    margin-bottom: 100px;
    .title {
      font-size: min(max(60px, 14vw), 240px);
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.1;
      margin: 15vh 0 40px;
      opacity: 0;
      animation: reveal 1.6s cubic-bezier(0.77, 0, 0.175, 1) 0.4s forwards;
    }
    .link {
      font-size: 16px;
      width: max-content;
      text-transform: uppercase;
      display: block;
      margin-top: 20px;
      svg {
        margin-right: 5px;
      }
    }
    .text {
      font-size: 16px;
    }
  }
</style>
