<section class="about container" id="about" data-reveal>
  <h2 class="sr-only">About</h2>
  <div class="description">
    <p>Hi! am Saida, a senior frontend web developer with a strong track.</p>
    <p>
      I've spent years <span>perfecting</span> the art of turning designs into pixel-perfect, performant, accessible, and
      responsive
      <span>websites</span> I'm truly passionate about the entire <span>development</span> spectrum!
    </p>
    <!-- <p>You can read more about my biography, experience, skills, education and much more in the PDF attached bellow</p> -->
    <a href="#" target="_blank">My resume (pdf 122kb)</a>
  </div>
</section>

<style lang="scss">
  .about {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 200px;
    padding-top: 100px;

    .description {
      font-size: 20px;
      max-width: 692px;
      p {
        margin-bottom: 50px;
      }
      span {
        font-size: 25px;
        font-family: var(--font-family-secondary);
      }
    }
    @media (max-width: 1065px) {
      margin-top: 0px;
      padding-top: 0;
      flex-direction: column;

      .description {
        font-size: 14px;
        width: 100%;
        line-height: 1.4;
        margin-top: 40px;
        p {
          margin-bottom: 15px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
</style>
