<section class="about container">
  <h2 class="title">About</h2>
  <div class="description">
    <p>
      I've spent years <span>Perfecting</span> the art of turning designs into pixel-perfect, performant, accessible, and
      responsive
      <span>Websites</span> I'm truly assionate about the entire <span>development</span> spectrum and enjoy diving into
      back-end work as well. Love working on Ambitious projects!
    </p>
    <p>You can read more about my biography, experience, skills, education and much more in the PDF attached bellow</p>
    <a href="#" target="_blank">My resume (pdf 122kb)</a>
  </div>
</section>

<style lang="scss">
  .about {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 300px;
    .title {
      font-size: 27px;
      font-weight: 500;
      text-transform: uppercase;
      order: 2;
      top: var(--default-space);
      position: sticky;
    }
    .description {
      font-size: 25px;
      width: 40%;
      p {
        margin-bottom: 50px;
      }
      span {
        font-family: var(--font-family-secondary);
      }
    }
  }
</style>
