---
import articles, { type Blog } from '@/data/blog'
---

<section class="blog container" id="blog">
  <div class="header" data-reveal>
    <h2 class="title">Blog</h2>
    <p class="description">
      Get cozy with my digital storytelling. My blogs are like warm, friendly chats about web development.
    </p>
  </div>

  <ul>
    {
      articles.map((article: Blog) => (
        <li data-reveal>
          <a href={article.slug}>
            <span class="date">{article.date}</span>
            <span class="name">{article.title}</span>
            <span class="time">{article.time}</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  .blog {
    margin-top: 200px;
    margin-bottom: 300px;
    .title {
      font-size: 64px;
      margin: 30px 0;
      font-family: var(--font-family-secondary);
    }
    .description {
      font-size: 13px;
      margin: 0 0 70px;
      max-width: 478px;
    }

    ul {
      &:hover a {
        opacity: 0.5;
      }
      li {
        width: max-content;
        max-width: 100%;
      }
      a {
        display: grid;
        padding: 20px 0;
        align-items: center;
        column-gap: 20px;
        grid-template-columns: 100px repeat(2, auto);
        transition: opacity 0.6s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .name {
      font-size: 20px;
      font-weight: 500;
    }

    .date,
    .time {
      font-size: 14px;
      opacity: 0.8;
    }
    .time {
      align-self: flex-end;
    }
    @media (max-width: 655px) {
      margin-top: 70px;
      margin-bottom: 130px;

      ul a {
        grid-template-columns: 1fr;
        row-gap: 10px;
      }
    }
  }
</style>
