---
type Props = {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<details class:list={className}>
  <summary>{title}</summary>
  <div class="content"><slot /></div>
</details>

<style lang="scss">
  :global(details li) {
    margin-bottom: 5px;
  }
  details {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    div {
      padding: 0 15px 15px;
    }
  }
  summary {
    padding: 15px;
    cursor: pointer;
  }
</style>
