---
import { Icon } from 'astro-icon/components'
---

<footer class="container">
  <div class="ping-me">
    <!-- Ping me for <span>cool</span> collaborations<br /> and front-end <span>magic 😎</span> -->
    <!-- <br /><small>Let's chat about awesome projects, can't wait to connect!</small> -->
    <p>Interested in working together?</p>
    <p>ping me for cool collaborations and frontend magic</p>
    <p>i’d love to hear about what you’re looking for.</p>
    <!-- <p>— open for new opportunities</p> -->
  </div>
  <ul>
    <li class="link">
      <a href="javascript:void(0);" onclick="document.getElementById('book-a-call').click()">
        <Icon name="arrow-top-right" width={11} height={11} />Book a call
      </a>
    </li>
    <li class="link">
      <a href=""><Icon name="arrow-top-right" width={11} height={11} />Linkedin</a>
    </li>
    <li class="link">
      <a href=""><Icon name="arrow-top-right" width={11} height={11} />CV / Resume</a>
    </li>
  </ul>
</footer>

<style lang="scss">
  footer {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 200px;
    ul {
      display: flex;
      column-gap: 15px;
      justify-content: center;

      .link a {
        font-size: 14px;
        font-weight: 700;
        border: 1px solid rgb(255, 255, 255, 0.08);
        background-color: rgb(255, 255, 255, 0.08);
        transition: background-color 0.3s ease-in;
        border-radius: 28px;
        padding: 11px 20px 12px 15px;

        svg {
          margin-right: 8px;
          vertical-align: -1px;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
    .ping-me {
      text-align: left;
      span {
        font-family: var(--font-family-secondary);
      }
      p {
        font-size: 13px;
        line-height: 1.8;
      }
    }

    @media (max-width: 860px) {
      align-items: flex-start;
      padding-bottom: 30px;
      padding-top: 30px;
      flex-direction: column;
      .ping-me {
        font-size: 20px;
      }

      ul {
        padding: 40px 0 60px;
        flex-wrap: wrap;
        row-gap: 35px;
        .link a {
          font-size: 10px;
        }
      }
    }
  }
</style>
