---
import { projectStats, type ProjectStats } from '@/data/projects'
---

<ul class="stats container" data-reveal>
  {
    projectStats.length !== 0 &&
      projectStats.map((stats: ProjectStats) => (
        <li>
          <p class="value">
            {stats.value}
            <sup class="caption">{stats.caption}</sup>
          </p>
          <p class="label">{stats.label}</p>
        </li>
      ))
  }
</ul>

<style lang="scss">
  .stats {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .label {
      font-size: 24px;
    }
    .caption {
      font-size: 48px;
      margin-left: -20px;
    }
    .value {
      font-size: 168px;
      font-weight: 500;
    }
    @media (max-width: 1230px) {
      margin-top: 60px;
      row-gap: 40px;
      column-gap: 20px;

      .value {
        font-size: 95px;
        line-height: 1.1;
      }

      .label {
        font-size: 15px;
      }

      .caption {
        font-size: 28px;
      }
    }
    @media (max-width: 790px) {
      display: none;
    }
  }
</style>
